.footer{
    padding: 40px 47px;
    @include display(flex, space-between, none);
    color: #fff;
    background-color: #2C343E;

    &__left{
        @include display(flex, space-between, center);
        vertical-align: middle;
        gap: 70px;
    }
    &__list{
        @include display(flex, none, center);
        gap: 10px;
    }
    &__item{
        @include font2;
        @include text(12px, 15px);
        letter-spacing: 0.923077px;
        text-transform: uppercase;
        color: #83888F;
    }
    &__right{
        display: flex;
        gap: 25px;
    }
}
@media only screen and (max-width:900px){
    .footer{
        width: 900px;
        // margin-left: 30px;
        text-align: center;
        display: block;
        &__left{
            padding:40px 199px 33px;
            display: block;
        }
        &__list{
            padding-top: 23px;
            padding-bottom: 65px;
        }
        &__right{
            padding-left: 300px;
        }
        &__item{
            width: 109px;
            letter-spacing:0;
        }
    }
}