*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}
ul{
    list-style-type: none;
}
body{
    background: #FEFCF7;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.header__list{
    display: flex;
    gap: 33px;
    text-decoration: none ;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
}
.header__link:active{
    color:black;
}
.intro{
    margin-top: 30px;
    padding: 80px 85px 0;
    background-image: url(./image/Bitmap.png);
    background-repeat: no-repeat;
    border-radius: 10px;
    color: #FEFCF7;
}
.intro__title{
    width: 493px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
}
.intro__text{
    width: 405px;
    padding-bottom: 50px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    mix-blend-mode: normal;
    opacity: 0.8;
}
.intro__btn{
    padding: 14px 31px;
    margin-bottom: 80px;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    border: 0;
    color: #fff;
    background: #0E8784;
    border-radius: 6px;
}
.intro__btn:active{
    background-color: #66D2CF;
}
.collection{
    position: relative;
}
.collection__top{
    position: relative;
    padding-left:50px;
}
.collection__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top:130px;
    left: 50px;
    padding-bottom: 62px;
}
.collection__item{
    text-align: center;
    padding-left: 25px;
}
.collection__title{
    padding-top: 50px;
    padding-bottom: 24px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
}
.collection__text{
    width: 255px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B
}
.middle__top{
    width: 1200px;
    height: 577px;
    position: relative;
    top: 357px;
    text-align: center;
    color: #FEFCF7;
    background: #2C343E;
    border-radius: 10px;
}
.middle__title{
    padding-top: 80px;
    padding-bottom: 20px;
    font-family: 'Fraunces 9pt';
    font-style: normal; 
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
}
.middle__text{
    width: 540px;
    margin: 0 auto;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    mix-blend-mode: normal;
    opacity: 0.8;
}
.middle__list{
    position: relative;
    top: 120px;
    left: 65px;
    padding-bottom: 250px;
    display: flex;
    gap:20px;
}
.middle__item{   
    width: 350px;
    height: 382px;
    left: 153px;
    text-align: center;
    color: #FEFCF7;
    background: #0E8784;
    border-radius: 8px;
}
.item__img{
    padding-top: 75px;
}
.item__title{
    padding: 56px 0 24px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
}
.item__text{
    width: 255px;
    margin: 0 auto;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.work{
    margin-left: 70px;
}
.work__title{
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
}
.work__top{
    display: flex;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 57px;
}
.work__hr{
    width: 349px;
    height: 2px;
    border: 0;
    background-color: #FDD6BA;
}
.work__list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 68px;
}
.work__main{
    width: 200px;
    padding-top: 38px;
    padding-bottom: 42px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
}
.work__text{
    width: 285px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}
.work__btn{
    padding: 14px 31px;
    margin-bottom: 80px;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    border: 0;
    color: #fff;
    background:#0E8784;
    border-radius: 6px;
}
.work__btn:active{
    background-color: #66D2CF;
}
.footer{
    padding: 40px 47px;
    display: flex;
    justify-content: space-between;
    color:#fff;
    background-color: #2C343E;
}
.footer__left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    gap:70px;
}
.footer__list{
    display: flex;
    align-items: center;
    gap:10px;
}
.footer__item{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
}
.footer__right{
    display: flex;
    gap:25px;
}